div>h3:first-child{
    color: pink;
}
div>p:nth-last-child(2){
   color: green;
}
div>#greycol {
    color: grey;
}

div>div>p{
    color: red;
}
div>.yellow{
    color: yellow;
}
.item1{
    color: red;
}
.item2{
    color: orange;
}
.item3{
    color: yellow;
}
.item4{
    color: cyan;
}
.item5{
    color: blue;
}
.item6{
    color: green;
}
.item7{
    color: blueviolet;
}
.item8{
    color: gray;
}
.item9{
    color: antiquewhite;
}